*, html {
    margin:0;
    padding:0;  
}
.header{
    padding: 20px;
    padding-left: 150px;
    height: 10vh;
    font-size: 3rem;
    background-color: darkgrey;
    
}
.addBook{
    font-size: 2rem;
    padding: 20px;
    margin: 20px;
}
.mainContainer{
    height: 70vh;
    background-color: beige;
}
.bookItself{
    height: 300px;
    width: 300px;
    background-color: cadetblue;
}